.sidebar{
    height: 100%;
    width: 15%;
    background-color: rgb(75, 75, 107);
  }
  .sidebarList{
   height: auto;
   width: 100%;
   padding: 0;
  }

  .sidebarList .rows
  {
    height: 50px;
    width: 100%;
    
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .rows:hover{
    cursor: pointer;
    background-color:rgb(53, 53, 75); 
  }

  .sidebar .active{
    background-color: rgb(53, 53, 75);
  }

  .rows #icon
  {
    flex: 30%;
    display: grid;
    place-items: center;
  }
  .rows #title{
    flex: 70%;
  }

  .container{
    display: flex;
    width: 100%;
    height: 100vh;
  }