*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(to right ,#ffffff,#00000000); */
    /* background-image: url('../img/pxfuel1.jpg'); */
    background-color: #8993a7;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
}

.Login-body{
    
    /* background-color: #89f3ff; */
    margin: auto;
    /* padding: 0px; */
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input:focus {
    outline: none;
    border: 2px solid #0f6197;
}
.container {
    background-color: #939BCA;
    backdrop-filter: blur(7px);
   width: 35%;
   height: 27rem;
   background-position: center;
    background-size: cover;
    box-shadow: 0px 15px 10px -15px #111;
    box-shadow: 15px 0px 10px -15px #111; 
}

.container-left {
    background-image: url("/src/assets/img/app/Grievance.jpg");
   width: 35%;
   height: 27rem;
   background-position: center;
    background-size: cover;
    box-shadow: 0px 15px 10px -15px #111; 
    box-shadow: -15px 0px 10px -15px #111;    
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.row {
    display: table
}

.row div {
    float: left;
}

.form-group {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
}


.inputBox {
    width: 100%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #756def;
    font-size: 15px;
    padding-left: 1rem;
    outline: none;
    background-color: rgb(255, 255, 255);

}
.inputBox:focus{
    outline: none;
    border: 2px solid #0f6197;
    /* border: none; */
    /* background-color: #91bfd2c3; */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

.labelbox {
    font-family: Poppins;
    font-size: 20px;
}

.myBtn {
    /* background-image: linear-gradient(to right ,#71b7e6,#9b59b6); */
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 20%;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    cursor: pointer;
    background-color: #253597;
}

.myBtn:hover {
    background-color: #1284C9;
}


.headline{
    background-color: #939BCA;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 30px;
    padding: 1rem;
    
}
.headline p{
    margin: 0;
    padding: 0;
    color: #1b1b1c;
    
}
.formName {
    font-size: 25px;
    position: relative;
}

.formName::before {
    background: linear-gradient(to right, #71b7e6, #9b59b6);
    height: 3px;
    width: 23%;
    left: 0;
    bottom: 0;
    position: absolute;
    content: '';
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

@media screen and (max-width:800px) {
    .myBtn {
        height: 30px;
        width: 50%;
        font-size: 15px;
    }

    .form-group {
        margin-left: 3%;
        margin-right: 10%;
    }
    .headline p{
        font-size: 20px;
        color: #636567;
        
    }
}

@media screen and (max-width: 480px) {
    .headline{
        font-size: 20px;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
       
    }
}

.coverBackPopUp{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #80808021;
    inset: 0px;
}

button:disabled {
    cursor: no-drop;
    /* visibility: hidden ; */
}

button:disabled:hover {
    cursor: no-drop;
    /* background-color: unset; */
    box-shadow: unset;
}

.hidden {
    visibility: hidden;
}